/* Poppin import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Tambahkan box-sizing untuk menghindari masalah layout */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1e293b;
}

nav {
  display: flex;
  background-color: #0f172a;
  padding: 20px 50px;
}

nav h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: auto;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

nav ul li a:hover {
  color: #0ea5e9;
}

main {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

/* Custom Class */
#content {
  margin: 40px 50px;
  width: 70%;
}

#introduction {
  background-color: #475569;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#introduction h2 {
  margin-bottom: 10px;
  font-size: 35px;
}

#introduction p {
  text-indent: 20px;
}

#introduction a {
  color: #0ea5e9;
  text-decoration: none;
  font-weight: 900;
}

article {
  background-color: #475569;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

article img {
  width: 10%;
  height: 100px;
  margin-right: 20px;
}

article p {
  width: 90%;
  text-indent: 20px;
}

aside {
  width: 20%;
  background-color: #475569;
  color: white;
  padding: 40px 20px;
  margin: 40px 50px;
  border-radius: 5px;
  position: fixed;
  top: 70px;
  right: 0px;
  overflow-y: auto;
  max-height: calc(100vh - 80px);
}

aside img {
  width: 50%;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

footer {
  background-color: #0f172a;
  color: #fff;
  padding: 20px 50px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #0ea5e9;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    margin: 20px 0;
  }

  nav ul li {
    margin: 0 5px;
  }

  nav ul li a {
    font-size: 14px;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  #content {
    width: 90%;
    margin: 20px 0;
  }

  article {
    flex-direction: column;
    align-items: flex-start;
  }

  article img {
    width: 30%;
    height: auto;
    margin: 20px auto;
  }

  aside {
    width: 90%;
    position: static;
    margin: -20px 0 20px 0;
  }
}